@using TumbleweedBakehouse.Models
@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-12'>

    <form id="productForm" action="/product/@Model.GetId()" method="post">
      <h3>Product</h3>
      <div class='form-group'>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="@Model.GetProductName()">
      </div>

      <div class='form-group'>
        <label for="producttype">Type</label>
        <input type="text" name="producttype" id="producttype" value="@Model.GetProductType()">
      </div>

      <div class='form-group'>
        <label for="description">Description</label>
        <input type="text-are" name="description" id="description" value="@Model.GetDescription()">
      </div>

      <div class='form-group'>
        <label for="availability">Available</label>
        @{bool availability = @Model.GetProductAvailability();}
        @Html.CheckBox("availability", availability)
      </div>

      <div class='form-group'>
        <label for="price">Price</label>
        <input type="text" name="price" id="price" value="@Model.GetPrice()">
      </div>

      <div class='form-group'>
        <label for="url">Image URL</label>
        <input type="text" name="url" id="url" value="@Model.InputUrl()">
      </div>

      <button type="submit" name="button">Update!</button>
    </form>

  </div>
</div>
