@using TumbleweedBakehouse.Models;
@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-12'>
    <img src="@product.GetUrl()" alt="photo of @product.GetProductName()">
    <h3>@Model.GetProductName()</h3>
    <h4>@Model.GetDescription()</h4>
    <h4>@Model.GetPrice()</h4>

  </div>
</div>
