@using TumbleweedBakehouse.Models;
@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-12'>
    @* <img src="@Product.GetUrl()" alt="photo of @Product.GetProductName()"> *@
    <h3>@Model.GetProductName()</h3>
    <h4>@Model.GetDescription()</h4>
    <h4>@Model.GetPrice()</h4>
    <a href="/product/{id}/edit"> Edit Product</a>
  </div>
</div>
