@using TumbleweedBakehouse.Models;
@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-12'>
    <form id='showProduct' action="/order" method="post">
      <img src="@Model.GetUrl()" alt="photo of @Model.GetProductName()">
      <h3>@Model.GetProductName()</h3>
      <h4>@Model.GetDescription()</h4>
      <h4>@Model.GetPrice()</h4>
      <input type="number" name="quantity" value="1">

      <div class='form-group'>
        <label for="pickupLocation">Pick Up Options</label>
        <select id='pickupLocation' name='pickupLocation' type='text'>
          <option value='Alamosa'>ALAMOSA (Can we make this date dynamic?)</option>
          <option value='La Jara'>LA JARA (Can we make this date dynamic?)</option>
        </select>
      </div>

      <input type="hidden" name="@Model.GetProductName()" id="@Model.GetProductName()">
      <input type="hidden" name="@Model.GetPrice()" id="@Model.GetPrice()">

      <button type="submit" name="button">Add To Cart</button>
    </form>
  </div>
</div>
