@using TumbleweedBakehouse.Models;
@{
  Layout = "_Layout";
}
<div id='show'>
    <img src='@Model.GetUrl()' alt='photo of @Model.GetProductName()'>
    <div id="showText">
      <h3>@Model.GetProductName()</h3>
      <p>@Model.GetProductType()</p>
      <p>@Model.GetDescription()</p>
      <p>$@Model.GetPrice()</p>

      <button type="button" onClick="javascript:location.href ='/product/@Model.GetId()/edit'">Edit</button>
    </div>
</div>
