@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-12'>
    <h3>Order: @Model["order"].GetOrderNumber()</h3>

    <h4>@Model["order"].ReceivedDate()</h4>
    <h4>@Model["order"].PickupLocation()</h4>
    <h4>@Model["order"].DeliveredDate()</h4>
    @foreach (var product in Model["products"])
    {
      <h3>Orders: <a href="/products/@Model["products"].GetProductId()"></a> @Model["products"].GetProductName()</h3>
    }
  </div>
</div>
