@{
  Layout = "_Layout";
}

<div class='row'>
  <div class='col-md-12'>
    <h3>Customer: @Model["customer"].GetFirstLast()</h3>

    <h4>Phone: @Model["customer"].GetPhoneNumber()</h4>
    <h4>Email: @Model["customer"].GetEmail()</h4>
    <h4>Home Address: @Model["customer"].GetAddress()
    <h4>City: @Model["customer"].GetCity()</h4>
    <h4>State: @Model["customer"].GetState()</h4>
    <h4>Zipcode: @Model["customer"].GetZip()</h4>
  </div>
  <div class='col-md-12'>

  </div>
</div>
