@{
  Layout = "_Layout";
}
<div id="customers">
<div id='row'>
  <div class='col-md-6'>
    <h3>Customer: @Model["customer"].GetFirstLast()</h3>

    <h4>Phone: @Model["customer"].GetPhoneNumber()</h4>
    <h4>Email: @Model["customer"].GetEmail()</h4>
    <h4>Home Address: @Model["customer"].GetAddress()</h4>
    <h4>City: @Model["customer"].GetCity()</h4>
    <h4>State: @Model["customer"].GetState()</h4>
    <h4>Zipcode: @Model["customer"].GetZip()</h4>

    <button type="button" onClick="javascript:location.href ='/customer/@Model["customer"].GetId()/edit'">Edit Customer</button>
  </div>

  <div class='col-md-6'>
    <h3>Order History:</h3>
    @if( @Model.Count != 0)
    {
      @foreach (var order in @Model["orders"])
        {
          <p><a href='/order/@order.Id'>Order number: @order.OrderNumber</a> <br> Order Date: @order.ReceivedDate.ToString("MM/dd/yyyy")</p>
        }
    }
    </div>
  </div>
  </div>
</div>
