@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-12'>
    <h3>Customer: @customer.GetName()</h3>

    <h4>Phone: @customer.GetPhoneNumber()</h4>
    <h4>Email: @customer.GetEmail()</h4>
    <h4>Address: @customer.GetHomeAddress()</br>
      @customer.GetCity(), @customer.GetState() @customer.GetZipCode()</h4>
  </div>
  @* <div class='col-md-12'>
    @foreach (var order in Model["orders"])
    {
      <h3>Orders: <a href="/orders/@Model["orders"].GetOrderId()"></a> @Model["orders"].GetOrderNumber()</h3>
    }
  </div> *@
</div>
