@{
  Layout = "_Layout";
}
<div class='row'>
  <div class='col-md-12'>
    <h3>Order @Model.GetName()</h3>
    
    <h4>@customer.GetPhoneNumber()</h4>
    <h4>@customer.GetEmail()</h4>
    <h4>@customer.GetHomeAddress()</h4>
    <h4>@customer.GetCity(), @customer.GetState(), @customer.GetZipCode()</h4>
  </div>
</div>
