@{
  Layout = "_Layout";
}
<div class='row'>

  <div class='col-md-4'>
    <h3>Orders</h3>

    @if (Model.Count != 0)
    {
      @foreach (var product in Model)
      {
      <form class="" action="/orders/{id}/edit" method="post">
        <div class="form-group">
          <img src="/img/@Model.GetImgUrl()" alt="photo of @Model.GetName()">
          <label for="@product.GetProductName()">@product.GetProductName()</label>
          <input type="checkbox" name="toppings" id="@product.GetProductName()" value="@product.GetProductName()">
        </div>
      </form>
      }
    }
  </div>

</div>
<a href='/products/@product.GetId()'>@product.GetProductName()</a>
