@using TumbleweedBakehouse.Models;

@{
    Layout = "_Layout";
}
<div class='row'>

    <div class='col-md-12'>

        <form class="" action="/order/@Model["order"].Id" method="post">
            <input id="customerId" type="hidden" name="customerId" value='@Model["order"].Customer_id'>
            <input id="orderNumber" type="hidden" name="orderNumber" value='@Model["order"].OrderNumber'>

            <h3>Edit Order #@Model["order"].OrderNumber for @Customer.Find(Model["order"].Customer_id).GetFirstLast()</h3>




            @*<div class='products'>
            @if (Model.Count != 0)
            {
            @foreach (var product in Model["products"])
                {

            <input id="productId" type="hidden" name="productId" value="@product.GetId()">
            <div class="productGridItem col-md-3" class="clickable" data-toggle="modal" data-target="#addToOrder">
                <a href='/product/@product.GetId()'>
                    <img src="@product.GetImg()" alt="photo of @product.GetProductName()">
                    <p class=" clickable">@product.GetProductName()</p>
                    <p>$@product.GetPrice()</p>
                </a>
                <label class="col-md-6 control-label" for="qty">Quantity:</label>
                <div class="col-md-6">
                    <input id="qty" name="qty" type="number" placeholder="#" class="form-control input-sm" value="0">
                </div>
            </div>

                }
            }
        </div>*@

            <div class="col-md-12">
                <table class="table-striped">
                    <tr>
                        <th>Customer Name</th>
                        <th>Order Received</th>
                        <th>Delivered Date</th>
                    </tr>
                    <tr>
                        <td> @Customer.Find(Model["order"].Customer_id).GetFirstLast()</td>
                        <td> @Model["order"].ReceivedDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <input type="date" name="deliveredDate" id="deliveredDate" value='@Model["order"].DeliveredDate.ToString("yyyy-MM-dd")'>
                        </td>
                    </tr>
                </table>
            </div>

            <table class="table-striped">
                <tr>
                    <th>Requested Pickup Date</th>
                    <th>Requested Pickup Location</th>
                </tr>
                <tr>
                    <td>
                        <input type="date" name="requestedPickupDate" id="requestedPickupDate" value="@Model["order"].RequestedPickupDate.ToString("yyyy-MM-dd")">
                    </td>
                    <td>
                        <select id='pickupLocation' name='pickupLocation' type='text' value="@Model["order"].PickupLocation">
                            @if (@Model["order"].PickupLocation == "Alamosa")
                            {
                                <option value='Alamosa' selected>Alamosa</option>
                            }
                            else
                            {
                                <option value='Alamosa'>Alamosa</option>
                            }
                            @if (@Model["order"].PickupLocation == "La Jara")
                            {
                                <option value='La Jara' selected>La Jara</option>
                            }
                            else
                            {
                                <option value='La Jara'>La Jara</option>
                            }=
                                La Jara
                            </option>
                        </select>
                    </td>
                </tr>
            </table>

            <table style="width:100%" class="table-striped">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
                @foreach (Product product in @Model["orderInventory"])
                {
                    <tr>
                        <td>
                            @product.GetProductName()
                        </td>
                        <td>
                            <input id="productId" type="hidden" name="productId" value='@product.GetId()'>
                            <input style="max-width:200px; width:100%" type="number" name="qty" id="qty" value='@Model["order"].GetProductsQTYInOrder(@product.GetId())'>
                        </td>
                        <td>
                            $@product.GetPrice().ToString("0.00")
                        </td>
                        <td>
                            $@((product.GetPrice() * @Model["order"].GetProductsQTYInOrder(@product.GetId())).ToString("0.00"))
                        </td>
                    </tr>
                }
            </table>
            <div>
            Add new products:
            </div>
            <div class='products'>
                @if (Model.Count != 0)
                {
                    @foreach (var product in Model["products"])
                    {

                        <input id="newProductId" type="hidden" name="newProductId" value="@product.GetId()">
                        <div class="productGridItem col-md-3" class="clickable" data-toggle="modal" data-target="#addToOrder">
                            <a href='/product/@product.GetId()'>
                                <img src="@product.GetUrl()" alt="photo of @product.GetProductName()">
                                <p class=" clickable">@product.GetProductName()</p>
                                <p>$@product.GetPrice()</p>
                            </a>
                            <label class="col-md-6 control-label" for="newQty">Quantity:</label>
                            <div class="col-md-6">
                                <input id="newQty" name="newQty" type="number" placeholder="#" class="form-control input-sm" value="0">
                            </div>
                        </div>
                    }
                }
            </div>

            <button type="submit" name="button">Update Order</button>
        </form>
    </div>
</div>
