@using  TumbleweedBakehouse.Models;

@{
    Layout = "_Layout";
}
<div class='row'>
    <div class='col-md-4'>
        <h3>Orders</h3>
        <h5><a href="/order/new">Place a new order</a></h5>
        @if (Model["orders"].Count != 0)
        {
        <div class="col-md-12">
            <table style="width:100%" class="table-striped">
                <tr>
                    <th>OrderId</th>
                    <th>Customer Name</th>
                    <th>Pickup Location</th>
                    <th>Order Received</th>
                    <th>Requested Pickup Date</th>
                    <th>Delivered Date</th>
                    <th>Customer ID #:</th>
                    <th>Order Number</th>
                </tr>
                @foreach (var order in Model["orders"])
                {
                    <tr>
                        <td><a href='/order/@order.Id'> @order.Id</a></td>
                        <td> @Customer.Find(order.Customer_id).GetFirstLast()</td>
                        <td> @order.PickupLocation</td>
                        <td> @order.ReceivedDate.ToString("dd/MM/yyyy")</td>
                        <td> @order.RequestedPickupDate.ToString("dd/MM/yyyy")</td>
                        <td> @order.DeliveredDate.ToString("dd/MM/yyyy")</td>
                        <td> @order.Customer_id</td>
                        <td> @order.OrderNumber </td>

                    </tr>
                }
            </table>
        </div>
        }
    </div>
</div>
