@using TumbleweedBakehouse.Models;

@{
    Layout = "_Layout";
}
<div class='row'>

    <div class='col-md-12'>

        <h4>This is the total number of customers: @Model["customers"].Count</h4>

        <form class="" action="/order" method="post">

            <h3>New Order</h3>

            @if (Model["customers"].Count != 0)
            {
                <label for='customerId'>Select a customer:</label>

                <select id='customerId' name='customerId' type='text'>

                    @foreach (var customer in @Model["customers"])
                    {
                        <option value='@customer.GetId()'>@customer.GetFirstLast()</option>
                    }
                </select>
            }

            <p><a href="/customer/new">Click here to add a new Customer</a></p>

            <div class='form-group'>
                <label for="requestedPickupDate">What is the pick up date? There's a minimum of 2 business days from the day the order is placed.</label>
                <input type="date" name="requestedPickupDate" id="requestedPickupDate">
            </div>

            <div class='form-group'>
                <label for="pickupLocation">Where would you like to pick up the order?</label>
                <select id='pickupLocation' name='pickupLocation' type='text'>
                    <option value='Alamosa'>ALAMOSA (Available Tuesdays)</option>
                    <option value='La Jara'>LA JARA (Available Saturdays)</option>
                </select>
            </div>

            <div class='products'>
                @if (Model.Count != 0)
                {
                    @foreach (var product in Model["products"])
                    {
                    
                        <input id="productId" type="hidden" name="productId" value="@product.GetId()">
                        <div class="productGridItem col-md-3" class="clickable" data-toggle="modal" data-target="#addToOrder">
                            <a href='/product/@product.GetId()'>
                                <img src="@product.GetUrl()" alt="photo of @product.GetProductName()">
                                <p class=" clickable">@product.GetProductName()</p>
                                <p>$@product.GetPrice()</p>
                            </a>
                            <label class="col-md-6 control-label" for="qty">Quantity:</label>
                            <div class="col-md-6">
                                <input id="qty" name="qty" type="number" placeholder="#" class="form-control input-sm" value="0">
                            </div>
                        </div>

       
                    }
                }
            </div>

    <button type="submit" name="button">Place Order</button>
    </form>
</div>
</div>