@using TumbleweedBakehouse.Models;

@{
    Layout = "_Layout";
}

<div id='show'>
  <div id="showText">
    <h3>Your Order Number: @Model["thisOrder"].OrderNumber</h3>

    <p>Order Recieved: @Model["thisOrder"].ReceivedDate</p>
    <p>Pickup Location: @Model["thisOrder"].PickupLocation</p>
    <p>Date Delivered: @Model["thisOrder"].DeliveredDate</p>

        <div class="col-md-12">
            <table class="table-striped">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                @foreach (var product in Model["orderInventory"])
                {
                    <tr>
                        <td><a href="/product/@product.GetId()">@product.GetProductName()</a></td>
                        <td>  @Model["thisOrder"].GetProductsQTYInOrder(@product.GetId())</td>
                        <td> $@product.GetPrice().ToString("0.00")</td>
                        <td> $@((product.GetPrice() * @Model["thisOrder"].GetProductsQTYInOrder(@product.GetId())).ToString("0.00"))</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td>Grand Total:</td>
                    <td>$@Model["thisOrder"].GrandTotal().ToString("0.00")</td>
                </tr>
            </table>
        </div>
        <button type="button" onClick="javascript:location.href ='/order/@Model["thisOrder"].Id/edit'">Edit Order</button>

    </div>
</div>
