@using  TumbleweedBakehouse.Models;

@{
    Layout = "_Layout";
}
<div class='row'>
    <div class='col-md-6'>
        <h3>Your Order Number: @Model["thisOrder"].OrderNumber</h3>


        <h5>Order Recieved: @Model["thisOrder"].ReceivedDate</h5>
        <h5>Pickup Location: @Model["thisOrder"].PickupLocation</h5>
        <h5>Date Delivered: @Model["thisOrder"].DeliveredDate</h5>

        @*@foreach (var product in Model["orderInventory"])
        {
            <p>
                <a href="/products/product.GetProductId()">@product.GetProductName()</a>
            </p>
            <p>
                Quantity: @Model["thisOrder"].GetProductsQTYInOrder(@product.GetId())
            </p>
        }*@

        <div class="col-md-12">
            <table style="width:50%" class="table-striped">
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>

                </tr>
                @foreach (var product in Model["orderInventory"])
                {
                    <tr>
                        <td><a href="/products/@product.GetId()">@product.GetProductName()</a></td>
                        <td>  @Model["thisOrder"].GetProductsQTYInOrder(@product.GetId())</td>


                    </tr>
                }
            </table>
        </div>
        <p><a href="/order/@Model["thisOrder"].Id/edit">Edit this order</a></p>
    </div>
</div>
